<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>JP Helper</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/materialize.css" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <script src="https://kit.fontawesome.com/3ad9c81434.js"></script>

        <link href="../static/navbar.css" rel="stylesheet">
        <link href="../static/footer.css" rel="stylesheet">
        <link href="../static/main.css" rel="stylesheet">

    </head>


    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue darken-2">
                    <a href="https://www.linkedin.com/in/victor-cardon/" class="brand-logo">
                    <i class="fab fa-linkedin fa-1x"></i>
                    </a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="#text">Youtube Helper</a></li>
                        <li><a href="#text">Text Helper</a></li>
                        <li><a href="">Podcast Helper</a></li>
                    </ul>
                </div>
            </nav>
        </div>

    <div class="container">
        <div id="index-banner" class="Learning Helper">
                    <br><br>
                    <h1 class="header center blue-text text-darken-1">Japanese Learning Helper</h1>
                    <div class="row center">
                        <h5 class="header col s12 light">An application being developed to assist you in learning Japanese</h5>
                    </div>
                    <div class="center-align">
                        <a href="#text" id="" class="btn-large waves-effect waves-light blue darken-1 ">Get Started</a>
                    </div>
                    <br><br>
        </div>
    </div>

        <!-- Parallax -->
        <div class="parallax-container">
            <div class="parallax"><img src="../static/img/NOCOPYRIGHT_fuji-jp.jpg" alt="fuji-jp"></div>
        </div>

    <div class="container">
        <div class="row center" id="text" class="section scrollspy">
            <form action="#" method="post" class="col s12">
                <h2 class="header left blue-text text-darken-1">Text:</h2>
                <p><input type="text" name="nm"/></p>
                <button class="btn-large right waves-effect waves-light blue darken-1" type="submit" name="nm">Submit
                <i class="material-icons right">send</i>
                </button>
            </form>
        </div>

        <div class="row center">
            <form action="#" method="post" class="col s12">
                <h2 class="header left blue-text text-darken-1">Youtube video link:</h2>
                <p><input type="text" name="youtube" /></p>
                <button class="btn-large right waves-effect waves-light blue darken-1" type="submit" name="youtube">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>

        <h1>To do list</h1>
        <ul class="collection">
            <li class="collection-item">topic of a video (ML)</li>
            <li class="collection-item">create subtitles using ML for videos/audio without subtitles</li>
            <li class="collection-item">page layout</li>
        </ul>

    </div>
    </body>

    <script type="text/javascript" src="../static/materialize.js"></script>
    <script type="text/javascript" src="../static/init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</html>