<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>JP Helper</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/materialize.css" media="screen,projection"/>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <script src="https://kit.fontawesome.com/3ad9c81434.js"></script>

        <link href="../static/navbar.css" rel="stylesheet">
        <link href="../static/footer.css" rel="stylesheet">
        <link href="../static/main.css" rel="stylesheet">

    </head>


    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue darken-2">
                    <a href="https://www.linkedin.com/in/victor-cardon/" class="brand-logo">
                    <i class="fab fa-linkedin fa-1x"></i>
                    </a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="#text">Youtube Helper</a></li>
                        <li><a href="#text">Text Helper</a></li>
                        <li><a href="">Podcast Helper</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            <div id="index-banner" class="Learning Helper">
                        <br><br>
                        <h1 class="header center blue-text text-darken-1">Japanese Learning Helper</h1>
                        <div class="row center">
                            <h5 class="header col s12 light">An application to improve your japanese learning immersion</h5>
                        </div>
            </div>
        </div>

        <div class="container">
            <div class="row center" id="text" class="section scrollspy">
                <form action="#" method="post" class="col s12">
                    <h2 class="header left blue-text text-darken-1">Text:</h2>
                    <p><input type="text" name="nm"/></p>
                    <button class="btn-large right waves-effect waves-light blue darken-1" type="submit" name="nm">Submit
                    <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <text>Exemple text : </text>
            <br><br>
            <text>皆さん、こんにちは、日本語の先生のりこです。今日も楽しく日本語の勉強してますか。今日は、中級の教科書について話します。上級へのとびら、
            上級へのとびらという教科書について知っていますか。私の生徒さんの中でも、初級を終わって、中級、そして、中級から上級へのステップアップとして、この上級へのとびらを使っている生徒さんがたくさんいます。
            私は個人的にこの教科書が好きです。まず、読み物、読み物のコンテンツがとても充実していると思います。日本のいろいろな文化について書いてありますが、本当にコンテンツが詳しく書いてあります。読み応えがあります。でも、
            初級の教科書を終わったばかりの生徒さんにとっては、ものすごく難しく感じるかもしれません。なぜならそのコンテンツは長いし、難しい言葉、新しい言葉がたくさん出てくるからです。でも、読むことが好き、
            日本の文化を知りたい、もっと新しい言葉、漢字を覚えたいという生徒さんには、とてもお勧めができます。単語のリストや文法も詳しいと思います。そこで、今回から、少しずつ上級へのとびらに出てくるトピックや言葉を使って、
            色々話してみたいと思います。今日は第一課ですね。上級へのとびらの第一課に出てくる、あなたの国または出身地の名所と名物について話しましょう、書きましょう、ということについて話します。あなたの国、私の場合、日本です。出身地、私の場合、岡山県の倉敷です。</text>

            <div class="row center">
                <form action="#" method="post" class="col s12">
                    <h2 class="header left blue-text text-darken-1">Youtube video link:</h2>
                    <p><input type="text" name="youtube" /></p>
                    <button class="btn-large right waves-effect waves-light blue darken-1" type="submit" name="youtube">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <text>Exemple video : </text>
            <br><br>
            <text>https://www.youtube.com/watch?v=-xNlexVRpfg&ab_channel=ComprehensibleJapanese</text>
        </div>
        <br><br>
        <br><br>

                <!-- Parallax -->
        <div class="parallax-container">
            <div class="parallax"><img src="../static/img/NOCOPYRIGHT_fuji-jp.jpg" alt="fuji-jp"></div>
        </div>
        <div class="container">
            <h1>To do list</h1>
            <ul class="collection">
                <li class="collection-item">Create a chrome or edge extension</li>
                <li class="collection-item">Deploy on a server</li>
                <li class="collection-item">topic of a video (ML)</li>
                <li class="collection-item">create subtitles using ML for videos/audio without subtitles</li>
                <li class="collection-item">page layout</li>
            </ul>
        </div>
    </body>

    <script type="text/javascript" src="../static/materialize.js"></script>
    <script type="text/javascript" src="../static/init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</html>