<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Helper</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/materialize.css" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://kit.fontawesome.com/3ad9c81434.js"></script>

        <link href="../static/navbar.css" rel="stylesheet">
        <link href="../static/footer.css" rel="stylesheet">
        <link href="../static/main.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/img_speed_speech.js"></script>


        <script type="text/javascript">
            var CORE_N5 = {{CORE_N5}}
            var CORE_N4 = {{CORE_N4}}
            var CORE_N3 = {{CORE_N3}}
            var CORE_N2 = {{CORE_N2}}
            var CORE_N1 = {{CORE_N1}}
            console.log("Hello world!");
        </script>


        <script type="text/javascript">
            $(function() {
                $('a#add').on('click', function(e) {
                    e.preventDefault()
                    //var name = element.getAttribute("name")
                    $.getJSON('/background_process_test', {
                        name: this.name,
                    },
                        function() {
                    });
                    return "nothing";
                });
            });
        </script>
    </head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue darken-2">
                <a href="" class="brand-logo"><i class="fas fa-home fa-1x"></i></a>
                <ul id="nav-mobile" class="right">
                    <li><a href="">Youtube Helper</a></li>
                    <li><a href="">Text Helper</a></li>
                    <li><a href="">Podcast Helper</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col s2">
            <div class="container">

            </div>
        </div>
        <div class="col s8">
            <div class="container">
                {%  if  video_id != 0 %}
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/{{ video_id }}" title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                {% endif %}

                <h1 class="header blue-text text-darken-1">10 most frequent words :</h1>
                <p>{{top_10_words|safe}}</p>

                <h1 class="header blue-text text-darken-1">10 most frequent lemmas :</h1>
                <p>{{top_10_lemma|safe}}</p>

                <h1 class="header blue-text text-darken-1">Difficulty :</h1>
                <canvas id="myChart" width="400" height="200">
                </canvas>

                <h1 class="header blue-text text-darken-1">Text :</h1>
                <div class="card-panel white scroll-box">
                    <span class="text-darken-1">
                        {{text}}
                    </span>
                </div>

                <h1 class="header blue-text text-darken-1">Vocabulary by JLPT levels:</h1>
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header blue-text text-darken-1"><i class="material-icons">looks_5</i>JLPT N5</div>
                        <div class="collapsible-body"><span>{{df_5|safe}}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-text text-darken-1"><i class="material-icons">looks_4</i>JLPT N4</div>
                        <div class="collapsible-body"><span>{{df_4|safe}}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-text text-darken-1"><i class="material-icons">looks_3</i>JLPT N3</div>
                        <div class="collapsible-body"><span>{{df_3|safe}}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-text text-darken-1"><i class="material-icons">looks_two</i>JLPT N2</div>
                        <div class="collapsible-body"><span>{{df_2|safe}}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-text text-darken-1"><i class="material-icons">looks_one</i>JLPT N1</div>
                        <div class="collapsible-body"><span>{{df_1|safe}}</span></div>
                    </li>
                </ul>
            </div>
        </div>

        {%  if  speed_of_speech != 0 %}
        <div class="col s2">
                <h2 class="header blue-text text-darken-1 center-align">Speed of speech :</h2>
                <h1 class="text-darken-1 center-align">
                    {{speed_of_speech}}
                    <img id="speed_img" class="responsive-img circle center-align" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" onload="set_img_src({{speed_of_speech}})">
                </h1>
        </div>
        {% endif %}

        {%  if  known_words != 0 %}
        <div class="container">
            <h1 class="header blue-text text-darken-1">10 known words :</h1>
            <p>{{known_words|safe}}</p>
        </div>
        {%  else %}
        <div class="container">
            <h1 class="header blue-text text-darken-1">10 known words :</h1>
            <p>There is no known word within this content</p>
        </div>
        {% endif %}
    </div>
</body>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../static/materialize.js"></script>
    <script type="text/javascript" src="../static/init.js"></script>
    <script type="text/javascript" src="../static/pie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/pie.js"></script>


<style>
        .scroll-box {
            overflow-y: scroll;
            height: 250px;
            padding: 1rem
        }
</style>

</html>